In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [85]:
df = pd.read_csv('DATA/статистика_старт.xlsx - Данные.csv')
df = df.apply(lambda a: a.map(lambda b: np.nan if b in ['', '    ', '\t'] else b))
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,2002,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Доходы гостиниц и аналогичных средств размещения,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ханты-Мансийский автономный округ - Югра (Тюме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2228536,39","2040628,19","2465505,6","2720895,1","2954950,8","2515767,7",2442687,"2264695,5","2089543,19","2282701,6"
3,Ямало-Ненецкий автономный округ (Тюменская обл...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"724074,4","826791,3",942051,"905200,6","871948,1","908662,89","1005690,2","1001489,7","1116225,6","1388261,4"
4,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1398139,4","1646036,2","1642570,1","1689217,5","1940716,3","1861785,79","2432762,4","2537705,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,32401000000 Кемерово,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"87,79","86,87","87,41","89,75","89,39","89,07","87,68","86,09","85,62","87,91"
155,32449000000 Юрга,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"82,5","84,74","85,85","87,46","84,76","83,55","82,82","82,55","84,4","86,41"
156,50401000000 Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"103,09","102,43","102,27","103,11","102,01","102,33",102,"101,27","99,31","98,49"
157,52401000000 Омск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"84,52","83,09","83,14","84,12","85,15","85,31","85,26","84,67","85,19","87,66"
158,69401000000 Томск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"97,77","97,85","97,69","98,08","97,27","97,02","97,17","96,47","96,8","98,13"

In [86]:
df = df.drop_duplicates()
df = df.dropna(how='all')
df_change_columns = df.iloc[1:]
df_change_columns.columns = df.iloc[0:1].T[0]
df_change_columns

,NaN,2002,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Доходы гостиниц и аналогичных средств размещения,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ханты-Мансийский автономный округ - Югра (Тюме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2228536,39","2040628,19","2465505,6","2720895,1","2954950,8","2515767,7",2442687,"2264695,5","2089543,19","2282701,6"
3,Ямало-Ненецкий автономный округ (Тюменская обл...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"724074,4","826791,3",942051,"905200,6","871948,1","908662,89","1005690,2","1001489,7","1116225,6","1388261,4"
4,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1398139,4","1646036,2","1642570,1","1689217,5","1940716,3","1861785,79","2432762,4","2537705,9"
5,Республика Алтай,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"123369,4",265508,"269770,3","269770,3","425207,4","720724,6","1015143,3","624930,69","682875,7","851700,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,32401000000 Кемерово,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"87,79","86,87","87,41","89,75","89,39","89,07","87,68","86,09","85,62","87,91"
155,32449000000 Юрга,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"82,5","84,74","85,85","87,46","84,76","83,55","82,82","82,55","84,4","86,41"
156,50401000000 Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"103,09","102,43","102,27","103,11","102,01","102,33",102,"101,27","99,31","98,49"
157,52401000000 Омск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"84,52","83,09","83,14","84,12","85,15","85,31","85,26","84,67","85,19","87,66"
158,69401000000 Томск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"97,77","97,85","97,69","98,08","97,27","97,02","97,17","96,47","96,8","98,13"

In [87]:
specifity = ['Доходы гостиниц и аналогичных средств размещения',
             'Число гостиниц и средств размещения',
             'Численность размещенных лиц в гостиницах и ананлогичных средствах размещения',
             'Число ночевок в гостиницах и ананлогичных средствах размещения',
             'Средняя численность работников, включая внешних совместителей',
             'Число туристских фирм',
             'Средства, поступившие от реализации туристкого продукта',
             'Число реализованных турпакетов населению',
             'Индекс стоимости жизни']

In [88]:
x = list()
for i in range(len(df)):
    if list(df['Unnamed: 0'])[i] in specifity:
        x.append(i)
x.append(len(df))
x

[1, 16, 31, 46, 61, 80, 96, 111, 126, 142]

In [89]:
dfs = dict()
for i in range(len(x)-1):
    k = df.iloc[x[i]:x[i+1]]
    k.columns = df_change_columns.columns
    f = k.iloc[1:].T
    f.columns = f.iloc[0:1].T[np.nan].to_list()
    g = f.iloc[1:].reset_index(drop=True)
    g['year'] = df_change_columns.columns[1:]
    g = g[g.columns.to_list()[-1:] + g.columns.to_list()[:-1]] 
    # .reset_index(drop=True)
    # print(f.iloc[1:].rename(index={np.nan: 'year'}).index)
    dfs[k[np.nan].to_list()[0]] = g #f.iloc[1:].rename(index={np.nan: 'year'})#, inplace=True)
dfs[list(dfs.keys())[0]]

,year,Ханты-Мансийский автономный округ - Югра (Тюменская область),Ямало-Ненецкий автономный округ (Тюменская область),Тюменская область (кроме Ханты-Мансийского автономного округа-Югры и Ямало-Ненецкого автономного округа),Республика Алтай,Республика Бурятия,Республика Тыва,Республика Хакасия,Алтайский край,Забайкальский край,Красноярский край,Иркутская область,Новосибирская область,Омская область,Томская область
0,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010,"2228536,39","724074,4",NaN,"123369,4","484863,1","72145,7","199672,2","725600,3","388529,1","1215284,4","1279836,5","1184190,3","452391,8","473174,4"
8,2011,"2040628,19","826791,3",NaN,265508,"598606,1","60273,7","240483,9","847640,3","460323,1",1360547,1475211,"1572685,8","682851,5","493720,7"
9,2012,"2465505,6",942051,"1398139,4","269770,3","773250,8",74517,"246157,7","927587,9","860796,9","1575651,7","1633443,39","1955636,6","886018,9","501149,79"
10,2013,"2720895,1","905200,6","1646036,2","269770,3","791893,1",80108,220832,"888997,7","617958,1","1760334,49","1807069,9","2365089,29","1041200,4","491025,7"
11,2014,"2954950,8","871948,1","1642570,1","425207,4","733217,6","81551,4","386540,4","927467,7","642201,4","1777793,29","1689557,2","2344230,19","1070380,5","417181,4"
12,2015,"2515767,7","908662,89","1689217,5","720724,6","733627,8","80778,7",433603,"906521,7","535659,3",1650461,"1882464,6","1782228,9","1108145,6","535920,4"
13,2016,2442687,"1005690,2","1940716,3","1015143,3",769151,"71767,8","316888,1","1055559,6","645164,4","2054491,79","2275275,9","2771074,2","848321,3","705352,8"
14,2017,"2264695,5","1001489,7","1861785,79","624930,69","711432,8","79734,7","389030,1","1301872,39","595405,1","2332009,6","2549259,6","3117069,2","920007,7","721877,7"
15,2018,"2089543,19","1116225,6","2432762,4","682875,7","721899,3","91587,1","436645,69","1479714,4","658860,1","2777702,4","2854936,6","3376319,2","1202470,5","747416,6"
16,2019,"2282701,6","1388261,4","2537705,9","851700,69","825707,9","102238,6","428159,2","1526298,6","689552,4","2972394,2","3299993,2","3793406,9","1279288,1","845138,1"

In [90]:
for i in dfs:
    dfs[i].to_csv(f'DATA/Split/{i}.csv')

In [91]:
ter_exp = set()
for i in dfs:
    for j in dfs[i].columns:
        ter_exp.add(j)
ter_exp

{' Забайкальский край',
 ' Новосибирская область',
 ' Республика Хакасия',
 '01000000000 Алтайский край',
 '01401000000 Барнаул',
 '04000000000 Красноярский край',
 '04100000000 Таймырский (Долгано-Ненецкий) автономный округ (Красноярский край)',
 '04130000000 Эвенкийский автономный округ (Красноярский край)',
 '04401000000 Красноярск',
 '25000000000 Иркутская область',
 '25100000000 Усть-Ордынский Бурятский округ',
 '25401000000 Иркутск',
 '32401000000 Кемерово',
 '32449000000 Юрга',
 '50000000000 Новосибирская область',
 '50401000000 Новосибирск',
 '52000000000 Омская область',
 '52401000000 Омск',
 '69000000000 Томская область',
 '69401000000 Томск',
 '71001000000 Тюменская область (кроме Ханты-Мансийского автономного округа-Югры и Ямало-Ненецкого автономного округа)',
 '71100000000 Ханты-Мансийский автономный округ - Югра (Тюменская область)',
 '71131000000 Ханты-Мансийск',
 '71140000000 Ямало-Ненецкий автономный округ (Тюменская область)',
 '71401000000 Тюмень',
 '76000000000 Забайкальский край',
 '76100000000 Агинский Бурятский округ (Забайкальский край)',
 '81000000000 Республика Бурятия',
 '81401000000 Улан-Удэ',
 '81420000000 Северобайкальск',
 '84000000000 Республика Алтай',
 '84401000000 Горно-Алтайск',
 '93000000000 Республика Тыва',
 '93401000000 Кызыл',
 '95000000000 Республика Хакасия',
 '95401000000 Абакан',
 'year',
 'Алтайский край',
 'Иркутская область',
 'Красноярский край',
 'Омская область',
 'Республика Алтай',
 'Республика Бурятия',
 'Республика Тыва',
 'Томская область',
 'Тюменская область (кроме Ханты-Мансийского автономного округа-Югры и Ямало-Ненецкого автономного округа)',
 'Ханты-Мансийский автономный округ - Югра (Тюменская область)',
 'Ямало-Ненецкий автономный округ (Тюменская область)'}

In [92]:
ter = dict()
for i in dfs:
    for j in dfs[i].columns[1:]:
        ter[' '.join(filter(lambda a: not a.isnumeric() and a != '', j.split(' ')))] = pd.DataFrame(columns=specifity)
ter

{'Ханты-Мансийский автономный округ - Югра (Тюменская область)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Ямало-Ненецкий автономный округ (Тюменская область)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Тюменская область (кроме Ханты-Мансийского автономного округа-Югры и Ямало-Ненецкого автономного округа)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Республика Алтай': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Республика Бурятия': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Республика Тыва': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Республика Хакасия': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Алтайский край': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Забайкальский край': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Красноярский край': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Иркутская область': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Новосибирская область': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Омская область': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Томская область': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Агинский Бурятский округ (Забайкальский край)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Таймырский (Долгано-Ненецкий) автономный округ (Красноярский край)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Эвенкийский автономный округ (Красноярский край)': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Усть-Ордынский Бурятский округ': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Тюмень': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Ханты-Мансийск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Горно-Алтайск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Улан-Удэ': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Северобайкальск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Кызыл': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Абакан': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Барнаул': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Красноярск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Иркутск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Кемерово': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Юрга': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Новосибирск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Омск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: [],
 'Томск': Empty DataFrame
 Columns: [Доходы гостиниц и аналогичных средств размещения, Число гостиниц и средств размещения, Численность размещенных лиц в гостиницах и ананлогичных средствах размещения, Число ночевок в гостиницах и ананлогичных средствах размещения, Средняя численность работников, включая внешних совместителей, Число туристских фирм, Средства, поступившие от реализации туристкого продукта, Число реализованных турпакетов населению, Индекс стоимости жизни]
 Index: []}

In [93]:
for i in ter_exp:
    for j in dfs:
        if i in dfs[j].columns[1:]:
            # print(dfs[j][i].rename_axis('year'))
            ter[' '.join(filter(lambda a: not a.isnumeric() and a != '', i.split(' ')))]['year'] = dfs[j][dfs[j].columns[0]]
            ter[' '.join(filter(lambda a: not a.isnumeric() and a != '', i.split(' ')))][j] = dfs[j][i]

In [94]:
ter[list(ter.keys())[0]]

,Доходы гостиниц и аналогичных средств размещения,Число гостиниц и средств размещения,Численность размещенных лиц в гостиницах и ананлогичных средствах размещения,Число ночевок в гостиницах и ананлогичных средствах размещения,"Средняя численность работников, включая внешних совместителей",Число туристских фирм,"Средства, поступившие от реализации туристкого продукта",Число реализованных турпакетов населению,Индекс стоимости жизни,year
0,NaN,NaN,NaN,NaN,308,40,NaN,NaN,NaN,2002
1,NaN,NaN,NaN,NaN,208,37,NaN,NaN,NaN,2004
2,NaN,NaN,NaN,NaN,223,43,NaN,NaN,NaN,2005
3,NaN,NaN,NaN,NaN,277,48,NaN,NaN,NaN,2006
4,NaN,NaN,NaN,NaN,361,62,NaN,NaN,NaN,2007
5,NaN,NaN,NaN,NaN,361,67,NaN,NaN,NaN,2008
6,NaN,NaN,NaN,NaN,207,51,NaN,NaN,NaN,2009
7,"2228536,39",136,362715,965877,345,88,NaN,20519,NaN,2010
8,"2040628,19",138,308806,"886058,99",325,96,"250289,59","26776,99",NaN,2011
9,"2465505,6",164,397251,1280459,436,114,"262968,49",30207,NaN,2012
10,"2720895,1",180,"456728,99",1376499,500,148,"299289,9",36163,NaN,2013
11,"2954950,8",182,"423365,99","1321813,99",553,161,"359773,9","37618,99",NaN,2014
12,"2515767,7",201,"398958,99",1068336,370,118,"982987,6",16736,NaN,2015
13,2442687,236,"453930,99",995512,NaN,121,"611172,7",20550,NaN,2016
14,"2264695,5",245,"492977,99",1050727,NaN,149,467844,42539,NaN,2017
15,"2089543,19",250,511652,1141768,NaN,158,"433333,6",33817,NaN,2018
16,"2282701,6",210,"485098,99",1055237,NaN,153,"533165,8",35231,NaN,2019

In [95]:
for i in ter:
    ter[i].to_csv(f'DATA/Ters/{i}.csv')